
body {
  
}

/* card */
.dress-card-img-top {
  width:100%;
  border-radius: 7px 7px 0 0;
  background: transparent url('img/tshirt.png') 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #FFA80F;
  opacity: 1;
}

.dress-card-body {
  padding:1rem;
  background: #fff;
  border-radius: 0 0 7px 7px;
  
}

.dress-card-title {
  line-height: 0.5rem;
}

.dress-card-crossed {
  text-decoration: line-through;
}

.dress-card-price {
  font-size: 1rem;
  font-weight: bold;
}

.dress-card-off {
  color: #FFA502;
}

.dress-card-para {
  margin-bottom: 0.2rem;
  font-size: 1.0rem;
  margin-bottom: 0rem;
}

.dress-card {
  border-radius: 14px;
}

.dress-card-heart {
  font-size: 1em;
  color: #FFA502;
  margin: 4.5px;
  position: absolute;
  left: 4px;
  top: 0px;
  
}

.surprise-bubble {
  position: absolute;
  bottom: 12rem;
  right: 2rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #fff;
  padding: 1rem;
  color: white;
  -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.surprise-bubble a {
  font-size: 0.65em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-family: arial;
  text-decoration: none;
  position: absolute;
  top: 9px;
  left: 20px;
  opacity: 0;
  -webkit-transition-delay: 2s;
  /* Safari */
  transition-delay: 2s;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.surprise-bubble:hover {
  border-radius: 999rem;
  padding: 1rem;
  width: 26%;
  height: 30px;
  background: #FFA502;
  color: white;
  -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.surprise-bubble:hover a {
  opacity: 1;
  -webkit-transition-delay: 2s;
  /* Safari */
  transition-delay: 2s;
  -webkit-transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.card-button {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  padding: 9px;
}
.card-button a {
  text-decoration: none;
}

.card-button-inner {
  padding: 10px;
  border-radius: 3px;
}

.bag-button {
  background: #FFA502;
  color: white;
}

.bag-button :hover{
  background: #FFA502;
}

.wish-button {
  border: 1px solid #FFA502;
  color: #FFA502;
}

.product-new-arrival-grid h1 { text-align: center; color:#FFA502; }
.text-uppercase {color:#FFA502;}
.nav-item .nav-link a { text-align: left;
font-size: 20px;
font: normal normal bold 20px/21px Cambria;
letter-spacing: 0px;
color: #000000;
text-shadow: 0px 3px 6px #00000029;
opacity: 1;
}
.navbar-light .navbar-nav .nav-link {
text-align: left;
font-size: 20px;
font: normal normal bold 26px/28px Cambria;
letter-spacing: 0px;
color: #000000;
text-shadow: 0px 3px 6px #00000029;
opacity: 1; }

.navbar-light .navbar-nav .nav-link-right { 
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0px;
    text-shadow: 0px 0px 0px #00000029;
    opacity: 1;
padding-right: 0.5rem;
    padding-left: 0.5rem;

  display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}


.input-group input { }

.srch-box { border: 1px solid #000000;
border-radius: 15px;
opacity: 1; 
top: 33px;
left: 736px;
width: 386px;
height: 45px;
}

.redincolor { color: red;}
.whiteincolor { }

.search { 
  position: relative; 
  margin: 0 auto ;
  text-align: center;
}
.search input { 
  text-indent: 5px;
   font-family:  FontAwesome, sans-serif;
}
.search .fa-search { 
  position: absolute;
  top: 24px;
  left: 94%;
  font-size: 21px;
}
input {
    width: 435px;
    padding: 5px;
    margin: 15px;
    height: 34px;
  outline:none;
  border: 1px solid #000000;
border-radius: 15px;
opacity: 1; 
}

.rounded-circle .z-depth-2 { background: transparent url('img/NoPath.png') 0% 0% no-repeat padding-box;
border: 2px solid #FCC35C;
opacity: 1;
}